.centered-text {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* текст вгорі */
    height: 100vh; /* висота сторінки */
    margin: 0;
    font-size: 24px; /* розмір шрифту */
}

.subtext {
    margin-top: 10px; /* Відступ між текстами */
    font-size: 18px; /* Розмір шрифту підзаголовка */
    color: #555; /* Колір тексту */
}
